%% An example OTP release to add to BEAM.com.
%%
%%   rebar3 release
%%   cd _build/default/rel/greeter
%%   cp beam.com greeter.com
%%   zip -r greeter.com releases lib
{erl_opts, [debug_info]}.
{deps, []}.
{relx, [{release, {greeter, "1.0.0"}, [greeter]},
        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},
        %% BEAM.com is the runtime, so do not copy ERTS.
        {include_erts, false},
        {include_src, false},
        {dev_mode, false},
        {extended_start_script, false}]}.
