%% An example release that uses ssl (TLS), to add to BEAM.com.
%%
%%   rebar3 release
%%   cd _build/default/rel/tls_check
%%   cp beam.com tls_check.com
%%   zip -r tls_check.com releases lib
{erl_opts, [debug_info]}.
{deps, []}.
{relx, [{release, {tls_check, "1.0.0"},
         [crypto, asn1, public_key, ssl, tls_check]},
        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},
        {include_erts, false},
        {include_src, false},
        {dev_mode, false},
        {extended_start_script, false}]}.
